#!/usr/bin/env bash

is_member() {
  local e match="$1"
  shift
  for e; do [[ "$e" == "$match" ]] && return 0; done
  return 1
}

# http get http://localhost:3000/users/1
# http post http://localhost:3000/users/sign_in '{"user":{"email":"warner@ruecker.io","password":"password"}}'
http() {
  local methods=("POST" "GET" "PUT" "PATCH" "DELETE")
  local method=$(echo $1 | awk '{print toupper($0)}')
  if ! is_member $method "${methods[@]}"; then
    echo "$1 is not one of ${methods[@]}" && return 1
  fi

  local path="$2"
  if [[ -z "$path" ]]; then
    echo "path not given" && return 2
  fi

  local params="$3"
  echo "$params"

  local header="--header Content-Type:application/json --header Accept:application/json"
  local request="--request $method"
  local data=""
  if [[ ! -z "$params" ]]; then
    data="--data $params"
  fi

  echo "curl -vs /dev/null/ $header $data $path | jq 2>&1"
  echo
  curl -vs /dev/null/ $header $data $path | jq 2>&1
  echo
}