[user]
  name = Lucas Winningham
  email = lucas.winningham@gmail.com
[alias]
  a = add
  ac = ! git add . && git commit -m
  acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  b = branch
  c = commit -m
  co = checkout
  cob = checkout -b
  d = ! git --no-pager diff --color | sed -E 's/^([^-+ ]*)[-+ ]/\\1/'
  m = merge
  p = pull
  r = reset
  st = status
  sync = remote prune origin
