# Ignore everything
*

# File whitelist

!.bash_profile
!.profile
!.bashrc

!.git_completion
!.gitconfig
!.gitignore

!.aliases
!.colors
!.functions
!.prompt

!.iterm_preferences.json

!iterm_preferences/**/*
!iterm_preferences/
