[user]
  name = Summer Daily
  email = dailycreativemedia@gmail.com
[alias]
  a = add
  ac = ! git add . && git commit -m
  acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  b = branch
  c = commit -m
  co = checkout
  cob = checkout -b
  d = ! git --no-pager diff --color | sed -E 's/^([^-+ ]*)[-+ ]/\\1/'
  m = merge
  mm = "!f() { local branch=$(git_branch); git co main && git p && git co $branch && git m main; }; f"
  p = pull
  pushup = "!f() { git push --set-upstream origin $(git_branch); }; f"
  r = reset
  st = status
  sync = remote prune origin
