# Ignore everything
*

# File whitelist

!README.md

!.bash_profile
!.bashrc
!.bashpy

!.git_completion
!.gitconfig
!.gitignore

!.aliases
!.colors
!.functions
!.path
!.prompt
!.overrides

!.iterm/
!.iterm/**/*
